<template>
  <div class="view-container">
    <h1 class="title">🏷️ {{ t('categories.title') }} 🏷️</h1>
  </div>
</template>

<style lang="postcss" scoped></style>

<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
export default defineComponent({
  name: 'Categories',
  setup() {
    const { t } = useI18n();
    return { t };
  },
});
</script>
