<template>
  <div class="login">
    <div class="flex flex-col md:col-span-4">
      <h1 class="login-title">{{ t('welcome') }}</h1>
      <h2 class="login-subtitle">{{ t('please') }}</h2>
    </div>

    <form @submit="checkForm" class="login-form rounded-2xl-lg">
      <div class="error-box" v-if="errors.length">
        <p v-for="error in errors" :key="error">{{ error }}</p>
      </div>

      <input class="input login-form-input" v-model="username" type="text" :placeholder="t('username')" />
      <input class="input login-form-input" v-model="password" type="password" :placeholder="t('password')" />

      <button class="button green">{{ t('login') }}</button>
    </form>
  </div>
</template>

<style lang="postcss" scoped>
.login {
  @apply flex justify-center md:justify-around flex-col md:flex-row gap-4 p-2 place-content-center items-center w-screen h-screen;
}

.login-title {
  @apply text-6xl font-bold text-green-600 dark:text-green-300 text-center;
}

.login-subtitle {
  @apply mt-2 ml-4 font-bold text-green-700 dark:text-green-500 text-center;
}

.login-form {
  @apply flex flex-col gap-2 p-4 items-center rounded-2xl justify-center md:col-span-4;
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 30px 1px;

  & input {
    @apply m-2;
  }
}

.login-form-input {
  @apply border border-gray-200 p-2;
}
</style>

<script>
import { defineComponent, reactive, toRefs, inject } from 'vue';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
import es from '../../locales/es.yml';

export default defineComponent({
  setup() {
    const { t } = useI18n();
    const router = useRouter();

    const state = inject('state');
    const setLogin = inject('setLogin');
    const getLoginState = inject('getLoginState');

    const data = reactive({
      username: '',
      password: '',
      errors: [],
    });

    //Get Login State cookie
    getLoginState();

    async function checkForm(e) {
      e.preventDefault();

      data.errors = [];

      if (!data.username) {
        data.errors.push(t('errors.username'));
      }

      if (!data.password) {
        data.errors.push(t('errors.password'));
      } else if (data.password.length < 6) {
        data.errors.push(t('errors.password_invalid'));
        e.preventDefault();
        return true;
      }

      if (data.username && data.password) {
        login();
      }
    }

    function login() {
      sessionStorage.setItem('login', 'true');
      setLogin(true);
      router.push('/rooms');
    }

    if (state.loggedIn === true) {
      login();
    }

    return { ...toRefs(data), checkForm, state, t };
  },
  name: 'Login',
});
</script>
