<template>
  <label tabindex="0" :for="id_for">
    <svg width="24" height="24" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="edit_icons">
        <path
          id="check"
          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
        ></path>
        <path
          id="pen"
          d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
        ></path>
      </g>
    </svg>
  </label>
</template>

<style lang="postcss" scoped>
svg {
  @apply inline cursor-pointer;
}

#check {
  @apply fill-current text-green-500;
  transform: translateX(0%);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

#pen {
  @apply fill-current text-green-500;
  transform: translateX(50%);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

input[type='checkbox']:checked + label #pen {
  opacity: 1;
  transform: translateX(0%);
}

input[type='checkbox']:checked + label #check {
  opacity: 0;
  transform: translateX(-50%);
}
</style>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'EditLabel',
  props: { for: String },
  setup(props) {
    const id_for = props.for;
    return { id_for };
  },
});
</script>
