<template>
  <transition name="fade">
    <div class="modal-mask" @click.self="close">
      <div class="modal-container">
        <div class="modal-header mb-4">
          <slot name="header"> </slot>
        </div>

        <div class="modal-body">
          <slot name="body"> </slot>
        </div>

        <div class="modal-footer">
          <slot name="footer"> </slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<style scoped lang="postcss"></style>

<script>
import { inject } from 'vue';
export default {
  name: 'Modal',
  props: {
    type: String,
  },
  setup(props) {
    let flushErrors = inject('closeModal');

    function close() {
      flushErrors(props.type);
    }

    return { close };
  },
};
</script>
