<template>
  <header class="header">
    <NavBarLink :icon="'home'" :name="t('rooms.name')" :location="'/rooms'"></NavBarLink>
    <NavBarLink :icon="'tags'" :name="t('categories.name')" :location="'/categories'"></NavBarLink>
    <UserMenu></UserMenu>
  </header>
</template>
<style lang="postcss" scoped>
.header {
  @apply flex justify-center w-full gap-2 items-center relative border-b border-green-400
  dark:border-darker-lightest bg-white dark:bg-darker;
}

.router-link-active.router-link-exact-active {
  @apply bg-gray-200 dark:bg-darker-light transition-all;
}
</style>

<script lang="ts">
import { defineComponent } from 'vue';
import NavBarLink from './NavBarLink.vue';
import UserMenu from './UserMenu.vue';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'NavBar',
  components: { UserMenu, NavBarLink },
  setup() {
    const { t } = useI18n();
    return { t };
  },
});
</script>
