<template>
  <router-link :to="location">
    <div class="link-container">
      <div class="link-text">{{ name }}</div>
      <div class="link-icon">
        <fa-icon class="text-lg" :icon="icon"></fa-icon>
      </div>
    </div>
  </router-link>
</template>
<style lang="postcss" scoped>
.link-container {
  @apply flex flex-col  md:w-32 justify-center items-center p-1;
}
</style>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'NavBar',
  props: {
    icon: { type: String },
    name: { type: String },
    location: { type: String },
  },
  setup() {},
});
</script>
