<template>
  <div class="container-element">
    <span @click="updateTriggers.background" class="text-xl">🖼️</span>
    <input
      @change="updateTriggers.name"
      class="input container-element-input"
      type="text"
      v-model="container.name"
      placeholder="Container Name"
    />
    <button @click="updateTriggers.delete" class="button red container-element-button">
      <fa-icon icon="times"></fa-icon>
    </button>
  </div>
</template>

<style lang="postcss" scoped>
.container-element {
  max-width: 20rem;
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
  @apply flex gap-2 items-center rounded-2xl text-center text-xs;
}

.container-element-input {
  @apply border m-0 w-48 md:w-auto;
}

.container-element-button {
  @apply rounded-full p-0 m-0 w-6 h-6 transition-all;
  font-size: 0.75rem;
}
</style>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { useI18n } from 'vue-i18n'
import { updateContainer, deleteContainer } from '../store'
import { Container } from '../types/store'
import { Toast, PopUp } from '../utilities/popup'

export default defineComponent({
  name: 'RoomContainer',
  props: {
    room_id: { type: String, required: true },
    container_idx: { type: Number, required: true },
    container: {
      type: Object as PropType<Container>,
      required: true,
    },
  },
  setup(props, context) {
    const { t } = useI18n()

    const container = props.container

    const updateTriggers = {
      name: async () => {
        await updateContainerTrigger('name', container.name).catch((e) => {
          Toast.fire({ title: e, icon: 'error' })
        })
      },
      delete: async () => {
        PopUp.fire({
          title: t('room.container.delete'),
          icon: 'warning',
          confirmButtonText: t('yes'),
          denyButtonText: t('no'),
        }).then(async (answer) => {
          if (answer.isConfirmed) {
            await deleteContainer({ room_id: props.room_id, container_id: container._id }).then((res) => {
              if (res.status !== 'error') context.emit('deleteContainer', [props.container_idx])
            })
          }
        })
      },
      background: async () => {
        return true
      },
    }

    const updateContainerTrigger = async (prop: string, value: string) => {
      await updateContainer({ room_id: props.room_id, _id: container._id, prop, value })
    }

    return { container, t, updateTriggers }
  },
  emits: ['deleteContainer'],
})
</script>
