<template>
  <div class="item-element">
    <div class="flex w-full justify-between items-center">
      <p class="header-text">{{ t('room.added') }}: {{ new Date(item.date_acquired).toLocaleDateString() }}</p>
      <span @click="updateTriggers.background" class="text-xl">🖼️</span>
    </div>
    <div class="w-full">
      <input
        @change="updateTriggers.name"
        class="input w-full item-element-input"
        type="text"
        v-model="item.name"
        placeholder="Item Name"
      />
    </div>

    <div class="flex gap-1">
      <select @change="updateTriggers.category" class="input w-10/12 item-element-input col-span-2">
        <option value="" :selected="!has_category" disabled>Pick Category</option>
        <option v-if="item.category.length > 0" :selected="has_category" :value="item.category">
          {{ item.category }}
        </option>
      </select>

      <input type="number" class="w-2/12 input text-center item-element-input" v-model="item.quantity" />
    </div>

    <div class="overflow-visible w-full flex gap-2 justify-evenly">
      <button @click="updateTriggers.use" class="button green item-element-button">
        <fa-icon icon="minus"></fa-icon>
      </button>

      <button @click="updateTriggers.add" class="button blue item-element-button">
        <fa-icon icon="plus"></fa-icon>
      </button>

      <button @click="updateTriggers.delete" class="button red item-element-button">
        <fa-icon icon="times"></fa-icon>
      </button>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.item-element {
  max-width: 20rem;
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
  @apply flex flex-col gap-2 items-center;
  @apply p-2 border-2 border-green-300 rounded-2xl;
  @apply text-center text-xs;
}

.item-element-input {
  @apply border m-0;
}

.item-element-button {
  @apply rounded-2xl  p-0 m-0 w-8 h-8 transition-all;
  font-size: 0.75rem;
}
</style>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { useI18n } from 'vue-i18n'
import { updateItem, deleteItem } from '../store'
import { Item } from '../types/store'
import { Toast, PopUp } from '../utilities/popup'

export default defineComponent({
  name: 'RoomItem',
  props: {
    room_id: { type: String, required: true },
    item_idx: { type: Number, required: true },
    item: {
      type: Object as PropType<Item>,
      required: true,
    },
  },
  setup(props, context) {
    const { t } = useI18n()

    const item = props.item
    const has_category = item.category.length > 0 ? 'selected' : false

    const updateTriggers = {
      name: async () => {
        await updateItemTrigger('name', item.name).catch((e) => {
          Toast.fire({ title: e, icon: 'error' })
        })
      },

      category: async () => {
        await updateItemTrigger('category', item.category).catch((e) => {
          Toast.fire({ title: e, icon: 'error' })
        })
      },

      quantity: async () => {
        await updateItemTrigger('quantity', item.quantity).catch((e) => {
          Toast.fire({ title: e, icon: 'error' })
        })
      },

      add: async () => {
        await updateItemTrigger('quantity', item.quantity + 1)
          .then(() => {
            item.quantity = item.quantity + 1
          })
          .catch((e) => {
            Toast.fire({ title: e, icon: 'error' })
          })
      },

      use: async () => {
        await updateItemTrigger('quantity', item.quantity - 1)
          .then(() => {
            item.quantity = item.quantity - 1
          })
          .catch((e) => {
            Toast.fire({ title: e, icon: 'error' })
          })
      },
      delete: async () => {
        PopUp.fire({
          title: t('room.items.delete'),
          icon: 'warning',
          confirmButtonText: t('yes'),
          denyButtonText: t('no'),
        }).then(async (answer) => {
          if (answer.isConfirmed) {
            await deleteItem({ room_id: props.room_id, item_id: item._id }).then((res) => {
              context.emit('deleteItem', [props.item_idx])
            })
          }
        })
      },
      background: async () => {
        return true
      },
    }

    const updateItemTrigger = async (prop: string, value: any) => {
      const result = await updateItem({ room_id: props.room_id, _id: item._id, prop, value })
      return result
    }

    return { item, has_category, t, updateTriggers }
  },
  emits: ['deleteItem'],
})
</script>
