<template>
  <div class="room-content-background" @click.self="show = false">
    <div tabindex="0" class="room-container">
      <div class="room-content-header mb-2">
        <p class="header-text">{{ t('room.created') }}: {{ new Date(room.created_at).toLocaleString() }}</p>
        <!-- Close Icon -->
        <div class="room-actions">
          <fa-icon @click="roomDeleteTrigger" class="room-actions-icons" icon="trash-alt"></fa-icon>
          <fa-icon @click="show = false" class="room-actions-icons" icon="times"></fa-icon>
        </div>
      </div>

      <div class="room-content relative">
        <!-- Room Header -->

        <!-- Title Block -->
        <div class="w-full flex flex-col">
          <div class="room-title-container">
            <input
              class="input"
              type="text"
              placeholder="Room Name"
              v-model="room.name"
              @change="roomUpdateTrigger({ prop: 'name', value: room.name })"
            />
          </div>
        </div>

        <!-- Sub Containers -->
        <div class="flex flex-col items-center">
          <h2 class="text-center font-bold p-2 md:p-1">📦 {{ t('room.containers.name') }} 📦</h2>
          <p v-if="!room.containers.length > 0">{{ t('room.containers.none') }}</p>

          <div v-if="room.containers" class="item-list">
            <room-container
              v-for="container in room.containers"
              :key="container._id"
              :room_id="room._id"
              :container="container"
              :container_idx="room.containers.indexOf(container)"
              @deleteContainer="containerDelete"
            ></room-container>
          </div>

          <button @click="showModal('sub')" class="button green">{{ t('room.add') }}</button>
        </div>

        <!-- Scattered Items -->

        <div class="flex flex-col items-center">
          <h2 class="text-center font-bold p-2 md:p-1">🛒 {{ t('room.items.name') }} 🛒</h2>

          <p v-if="!room.items.length > 0">{{ t('room.items.none') }}</p>

          <div v-if="room.items" class="item-list">
            <room-item
              v-for="item in room.items"
              :key="item._id"
              :room_id="room._id"
              :item="item"
              :item_idx="room.items.indexOf(item)"
              @deleteItem="itemDelete"
            ></room-item>
          </div>

          <button @click="showModal('item')" class="button green">{{ t('room.add') }}</button>
        </div>
      </div>
    </div>

    <!-- SubContainer Modal -->
    <transition name="modal">
      <room-container-modal :room="room" v-if="showSubModal"></room-container-modal>
    </transition>

    <!-- Scattered Item Modal -->
    <transition name="modal">
      <room-item-modal :room="room" v-if="showItemModal"></room-item-modal>
    </transition>
  </div>
</template>

<style scoped lang="postcss">
.room-content-background {
  @apply absolute w-screen h-screen top-0 left-0 
        grid grid-cols-1 grid-rows-1 place-content-center items-center;

  z-index: 100;
}

.room-container {
  -webkit-box-shadow: 0px 10px 33px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 33px 5px rgba(0, 0, 0, 0.3);
  @apply flex flex-col justify-between m-auto p-4 md:p-2 bg-white dark:bg-darker 
        rounded-2xl overflow-visible w-full h-full lg:w-auto lg:h-auto;
}

.room-content {
  @apply flex flex-col h-full justify-between;
}

.room-content-header {
  @apply flex items-center justify-between w-full;
}

.room-title-container {
  @apply w-full md:w-1/2 md:m-auto border-b-2 mt-2 mb-2 border-green-300;

  & .input {
    @apply m-0 mb-2 dark:text-green-300 w-full text-xl text-center md:text-base;
  }
}

.room-actions {
  @apply flex items-center justify-center gap-2 h-6 m-0 self-end cursor-pointer;
}

.room-actions-icons {
  @apply text-xl text-green-500 dark:text-green-300;
}

.item-info {
  @apply grid grid-cols-12 gap-2 p-2 w-full place-content-center 
        items-center text-center text-sm sticky top-0 bg-white dark:bg-darker;
}

.item-list {
  @apply grid grid-cols-1 gap-2 p-1 justify-items-center
          lg:grid-cols-2 
          max-h-56 md:max-h-52
          overflow-auto self-stretch auto-rows-max;
}

h1,
h2 {
  word-spacing: 0.5rem;
}
</style>

<script lang="ts">
import { defineComponent, inject, ref, provide, PropType } from 'vue'
import { useI18n } from 'vue-i18n'

import { PopUp } from '../utilities/popup'

import Modal from './Modal.vue'
import EditLabel from './EditLabel.vue'
import RoomItem from './RoomItem.vue'
import RoomItemModal from './RoomItemModal.vue'
import RoomContainer from './RoomContainer.vue'
import RoomContainerModal from './RoomContainerModal.vue'

import { updateRoom, deleteRoom } from '../store'
import { Room, Item } from '../types/store'

interface UpdateData {
  prop: string
  value: string
}

export default defineComponent({
  name: 'RoomContent',
  components: {
    Modal,
    EditLabel,
    RoomItem,
    RoomItemModal,
    RoomContainer,
    RoomContainerModal,
  },
  props: {
    room: {
      type: Object as PropType<Room>,
      required: true,
      default: { _id: '', name: '', type: '', containers: [], items: [] },
    },
    rooms: { type: Array, required: true },
  },
  setup(props) {
    const { t } = useI18n()

    const show = inject('show')

    const rooms = props.rooms
    const room = props.room

    const errors = ref([])
    const showSubModal = ref(false)
    const showItemModal = ref(false)

    if (room.containers === undefined) room.containers = []
    if (room.items === undefined) room.items = []

    async function roomUpdateTrigger(update_data: UpdateData) {
      await updateRoom({
        _id: room._id,
        prop: update_data.prop,
        value: update_data.value,
      })
    }

    async function roomDeleteTrigger() {
      PopUp.fire({
        title: t('room.delete'),
        icon: 'warning',
        confirmButtonText: t('yes'),
        denyButtonText: t('no'),
      }).then(async (answer) => {
        if (answer.isConfirmed) {
          await deleteRoom(room._id).then((res) => {
            if (res.status !== 'error') rooms.splice(rooms.indexOf(room), 1)
          })
        }
      })
    }

    function itemDelete(item_idx: number) {
      room.items.splice(item_idx, 1)
    }

    function containerDelete(item_idx: number) {
      room.containers.splice(item_idx, 1)
    }

    // Create Sub Containers
    function showModal(type: string) {
      if (type == 'sub') showSubModal.value = true
      if (type == 'item') showItemModal.value = true
    }

    function closeModal(type: string) {
      errors.value = []
      if (type == 'sub') showSubModal.value = false
      if (type == 'item') showItemModal.value = false
    }

    provide('closeModal', closeModal)

    return {
      room,
      roomUpdateTrigger,
      roomDeleteTrigger,
      showModal,
      closeModal,
      showSubModal,
      showItemModal,
      show,
      itemDelete,
      containerDelete,
      t,
    }
  },
})
</script>
