<template>
  <div class="room-box">
    <div tabindex="0" @click="showRoom" :id="room._id" class="room" :style="style">
      <p>{{ room.name }}</p>
    </div>
  </div>

  <transition name="fade">
    <RoomContent :room="room" :rooms="rooms" v-if="showContent"></RoomContent>
  </transition>
</template>

<style lang="postcss" scoped>
.room-box {
  @apply w-full p-2;
}

.room {
  @apply flex justify-center relative select-none cursor-pointer rounded-2xl p-2 w-full h-32
          overflow-visible transition-all ring-green-300 md:m-auto
          focus-within:ring-8;
}

.room:hover {
  @apply ring-8;
}

.room p {
  @apply text-center text-white text-xl m-0 self-center break-words;
}
</style>

<script lang="ts">
import { defineComponent, provide, ref } from 'vue';
import randomColor from 'randomcolor';
import RoomContent from './RoomContent.vue';

export default defineComponent({
  name: 'Room',
  components: {
    RoomContent,
  },
  props: {
    room: { type: Object, required: true },
    rooms: { type: Array, required: true },
  },

  setup() {
    const showContent = ref(false);

    provide('show', showContent);

    const style = `background-color: ${randomColor({
      hue: 'green',
      luminosity: 'dark',
    })}`;

    const showRoom = () => {
      showContent.value = true;
    };

    return { style, showContent, showRoom };
  },
});
</script>
