<template>
  <modal type="sub">
    <template v-slot:header>
      <h2 class="modal-title">{{ t('room.containers.new') }} 📦</h2>
    </template>

    <template v-slot:body>
      <div class="flex flex-col">
        <label class="modal-label" for="name">{{ t('name') }}</label>
        <input class="input border-2" id="name" v-model="name" type="text" />
      </div>
    </template>

    <template v-slot:footer>
      <div class="error-room" v-if="errors.length">
        <p v-for="error in errors" :key="error">{{ error }}</p>
      </div>

      <div class="flex w-full">
        <button class="button green w-full" @click="addContainerTrigger($event)">{{ t('room.add') }}</button>
        <button class="button red w-full" @click="closeModal('sub')">{{ t('room.cancel') }}</button>
      </div>
    </template>
  </modal>
</template>

<style lang="postcss" scoped></style>

<script lang="ts">
import { defineComponent, ref, inject, PropType } from 'vue'
import { useI18n } from 'vue-i18n'
import { addContainer } from '../store'
import { Room } from '../types/store'

import Modal from './Modal.vue'

export default defineComponent({
  name: 'RoomContainerModal',
  components: { Modal },
  props: {
    room: {
      type: Object as PropType<Room>,
      required: true,
      default: { _id: '', name: '', type: '', containers: [], items: [] },
    },
  },
  setup(props) {
    const { t } = useI18n()
    const room = props.room
    const name = ref('')
    const errors = ref([])

    const closeModal = inject<(a: string) => void>('closeModal')

    const addContainerTrigger = async (e: any) => {
      e.target.disabled = true
      e.target.readonly = true

      const container_data = { name: name.value, items: [] }
      const container = await addContainer(room._id, container_data)

      room.containers.push(container)

      if (closeModal !== undefined) closeModal('sub')
    }

    return { name, errors, closeModal, t, addContainerTrigger }
  },
})
</script>
