<template>
  <Modal type="item">
    <template v-slot:header>
      <h2 class="modal-title">🛒 {{ t('room.items.new') }} 📦</h2>
    </template>

    <template v-slot:body>
      <div class="grid grid-cols-6 grid-rows-2 gap-2">
        <div class="col-span-6 flex flex-col">
          <label class="modal-label" for="name">{{ t('name') }}</label>
          <input class="input border-2" id="name" type="text" v-model="name" />
        </div>

        <div class="col-span-4 flex flex-col">
          <label class="modal-label" for="category">{{ t('room.items.category') }}</label>
          <select class="input border-2" id="category" v-model="category">
            <option value="Type 1">Type 1</option>
            <option value="Type 2">Type 2</option>
          </select>
        </div>

        <div class="col-span-2 flex flex-col">
          <label class="modal-label" for="quantity">{{ t('room.items.quantity') }}</label>
          <input class="input border-2 text-center" id="quantity" type="number" v-model="quantity" />
        </div>
      </div>
    </template>

    <template v-slot:footer>
      <div class="error-room" v-if="errors.length">
        <p v-for="error in errors" :key="error">{{ error }}</p>
      </div>

      <div class="flex">
        <button class="button green w-full" @click="addItemTrigger($event)">{{ t('room.add') }}</button>
        <button class="button red w-full" @click="closeModal('item')">{{ t('room.cancel') }}</button>
      </div>
    </template>
  </Modal>
</template>
<style lang="postcss" scoped></style>
<script lang="ts">
import { defineComponent, ref, inject, PropType } from 'vue'
import { useI18n } from 'vue-i18n'
import { addItem } from '../store'
import { Room } from '../types/store'
import Modal from './Modal.vue'
export default defineComponent({
  name: 'RoomItemModal',
  props: {
    room: {
      type: Object as PropType<Room>,
      required: true,
      default: { _id: '', name: '', type: '', containers: [], items: [] },
    },
  },
  components: { Modal },
  setup(props) {
    const { t } = useI18n()
    const room = props.room
    const errors = ref([])
    const name = ref('')
    const category = ref('')
    const quantity = ref(0)

    const closeModal = inject<(a: string) => void>('closeModal')

    const addItemTrigger = async (e: any) => {
      e.target.disabled = true
      e.target.readonly = true

      const item_data = { name: name.value, category: category.value, quantity: quantity.value }
      const item = await addItem(room._id, item_data)

      room.items.push(item)

      if (closeModal !== undefined) closeModal('item')
    }

    return { name, category, quantity, errors, closeModal, addItem, addItemTrigger, t }
  },
})
</script>
