<template>
  <div @click="toggleUserActions" class="button green user-menu">
    🧑
    <transition name="useractions">
      <div v-if="showUserActions" class="user-actions">
        <a @click="logout">{{ t('logout') }}</a>
      </div>
    </transition>
  </div>
</template>

<style lang="postcss" scoped>
.user-menu {
  @apply w-10 h-10 rounded-2xl box-border cursor-pointer 
  justify-self-end block absolute right-0 text-center text-base;

  & .user-actions {
    @apply bg-green-600 dark:bg-green-300 rounded-2xl 
    absolute right-0 p-4 w-48 text-center cursor-default;

    bottom: -4.5rem;
    z-index: 9998;
    & a {
      @apply text-white dark:text-darker font-semibold;
      cursor: pointer;
    }
  }
}

.useractions-enter-active,
.useractions-leave-active {
  transition: opacity 300ms ease, transform 100ms ease-in;
}

.useractions-enter-from,
.useractions-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
</style>

<script>
import { inject, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
export default {
  name: 'UserMenu',
  setup() {
    const { t } = useI18n();
    const router = useRouter();
    const cleanState = inject('cleanState');
    const showUserActions = ref(false);

    function logout() {
      cleanState();
      router.push('/');
    }

    function toggleUserActions() {
      showUserActions.value = showUserActions.value ? false : true;
    }

    return {
      logout,
      toggleUserActions,
      showUserActions,
      t,
    };
  },
};
</script>
