<template>
  <div class="body">
    <transition name="fade">
      <NavBar v-if="loggedIn"></NavBar>
    </transition>
    <main class="content">
      <router-view v-slot="{ Component }">
        <transition name="fade">
          <component :is="Component"></component>
        </transition>
      </router-view>
    </main>
  </div>
</template>

<style lang="postcss">
.body {
  @apply flex flex-col justify-between h-screen relative bg-white dark:bg-darker text-green-700 dark:text-green-200;
}

.content {
  height: calc(100vh - 75px);
}
</style>

<script lang="ts">
import { defineComponent, onBeforeMount, onMounted, provide, toRefs } from 'vue'
import { useRouter } from 'vue-router'

import NavBar from './components/NavBar.vue'

import { state, setLogin, getLoginState, cleanState, getRooms } from './store'

export default defineComponent({
  name: 'App',
  components: { NavBar },
  setup() {
    const router = useRouter()

    const { loggedIn } = toRefs(state)

    async function checkLogin() {
      await getLoginState().then((loginState) => {
        state.loggedIn = loginState
        if (loginState !== true) {
          router.push('/')
        }
      })
    }

    provide('state', state)
    provide('setLogin', setLogin)
    provide('getLoginState', getLoginState)
    provide('getRooms', getRooms)
    provide('cleanState', cleanState)
    provide('checkLogin', checkLogin)

    onBeforeMount(() => {
      checkLogin()
    })

    onMounted(() => {
      checkLogin()
    })

    return { loggedIn }
  },
})
</script>
