@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './animations.css';

@layer components {
  .title {
    @apply mb-2 font-bold text-2xl text-center text-green-700 dark:text-green-200 pb-2 border-b-4 
        w-9/12 lg:w-1/3 mt-2 border-green-300;
  }

  .header-text {
    @apply text-gray-600 dark:text-gray-500;
    font-size: 0.7rem;
  }

  .modal-container {
    @apply w-80 p-4 m-auto bg-white dark:bg-darker rounded-2xl;
    -webkit-box-shadow: 0px 10px 33px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 33px 5px rgba(0, 0, 0, 0.3);
  }

  .modal-title {
    @apply p-2 text-green-700 dark:text-green-200 font-bold text-center text-lg border-b-2 border-green-300 !important;
  }

  .modal-label {
    @apply text-sm text-green-700 dark:text-green-200 font-semibold text-center;
  }

  .view-container {
    @apply flex flex-col items-center justify-between h-full;
    overflow: auto !important;
  }

  .button {
    @apply text-base md:text-sm  text-white dark:text-darker p-2 rounded-2xl  transition-all focus:ring-2 cursor-pointer m-2;

    &.green {
      @apply bg-green-600 dark:bg-green-300 focus:ring-green-300 dark:focus:ring-green-200;
    }

    &.red {
      @apply bg-red-600 dark:bg-red-300 focus:ring-red-300 dark:focus:ring-red-200;
    }

    &.blue {
      @apply bg-blue-600 dark:bg-blue-300 focus:ring-blue-300 dark:focus:ring-blue-200;
    }
  }

  .input {
    min-height: 32px;
    @apply rounded-2xl  text-green-700  dark:text-green-200 dark:bg-darker
         border-green-500 dark:border-green-200  
          transition-all p-1 m-2 text-base md:text-sm
          focus:outline-none focus:ring-2 ring-green-300 dark:ring-green-100;
  }

  .error-box {
    @apply flex flex-col border rounded-2xl  p-2 border-red-300 bg-red-100;

    & p {
      @apply text-xs text-red-500 p-1 ml-4 list-item list-disc;
    }
  }

  .dark-background {
    @apply bg-white dark:bg-darker  !important;
  }

  .dark-text {
    @apply text-darker-dark dark:text-white !important;
  }

  .modal-mask {
    z-index: 9998;
    @apply grid grid-cols-1 grid-rows-1 place-content-center absolute top-0 left-0 w-screen h-screen;
  }

  .swal2-popup {
    font-size: 0.5rem !important;
  }
}

::selection {
  @apply bg-green-300 dark:bg-green-600;
}
::-moz-selection {
  @apply bg-green-300 dark:bg-green-600;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

  /** Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: rgba(52, 211, 153, 1) rgba(209, 250, 229, 1);
  -webkit-tap-highlight-color: transparent !important;
}

/** Chrome Scrollbar */

*::-webkit-scrollbar {
  @apply bg-green-100 rounded-2xl;
  width: 5px;
  height: 8px;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  @apply bg-green-400 rounded-2xl;
}

*:not(input) {
  user-select: none !important;
}

*:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

/** General Tweaks */
h1,
h2 {
  @apply md:text-sm font-bold text-center;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:read-only {
  @apply text-green-700;
}
